#heading{
    color: red;
}
.header{
    justify-content: space-between;
    display: flex;
    border: 1px solid black ;
}
.logo{
    width : 150px;
}
.nav-items>ul {
    display : flex;
}
.nav-items>ul>li{
    padding : 20px;
    list-style-type: none;
    font-size: 24px;
}
.res-card{
    margin: 5px;
    width :200px;
    height : 400px;
    padding : 0px 5px;
}
.res-card:hover{
     border : 1px solid black;
     cursor : pointer;
}
.search-bar{
    padding : 10px;
}
.res-card-logo{
    width : 180px;
    height : 150px;
    padding : 10px 10px;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
}
.filter-btn{
    cursor: pointer;
    margin: 5px;
}

.shimmer-container{
    display : flex;
    flex-wrap: wrap;
}

.shimmer-card{
    margin : 5px;
    width : 200px;
    height : 400px;
    background-color: #f0f0f0;
}